@{
    ViewData["Title"] = "Informacje o stronie";
}

<h1>O projekcie na zaliczenie</h1>
<p>
    Wiem, że z perspektywy klienta ta strona jest bez sensu, gdyż klient nie powinien usuwać, czy edytować produktów. Aby to zrobić wystarczyłoby
    w widoku index.cshtml usunąć np te linijki z akcjami(delikatnie tu zmodyfikowane np. bez niektórych znaczników, bym mógł je zamieścić):<br>

    a asp-action="Edit" asp-route-id="item.ID">Edytuj /a |<br>
    a asp-action="Delete" asp-route-id="item.ID">Usuń /a |<br>
    <br>
Nie zrobiłem tego mimo, że to proste by w widoczny sposób pokazać, że ta funkcja istnieje(oczywiście gdyby na wersji produkcyjnej coś takiego zrobić to byłoby samobójstwo). Ze względu na to, że nie było to konieczne w poleceniu stworzenia projektu, nie wchodziłem w temat jak sprawić by np. tylko dany użytkownik(np. admin) mógł dodawać, usuwać i edytować produkty.
Także mogłem nie dodawać na stronie głównej zbędnych funkcji np. dodaj produkt, edytuj, usuń a samemu dodawać produkty np. przez adres<strong> https: //localhost:7267/Sklep/Add </strong>analogicznie edytować lub usuwać o czym nie wiedziałby klient lecz tego nie zrobiłem.

</p>
<p>
    W razie pytań proszę o kontakt przez Teams lub mailowo. Mój email to:<strong> s10568wo@ms.wwsi.edu.pl</strong>
</p>
